<!DOCTYPE html>
<html>
  <head>
    <title>Classer votre image!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/main-v22.css') }}"
    />
  </head>
  <body>
    <div class="container" role="main">
      <h1>{{ message }}</h1>
      <div class="goback">
        <a href="../icbafr"> Télécharger une nouvelle image </a>
      </div>
      <footer>
        <p><strong>International Center for Biosaline Agriculture</strong></p>
        <p>Common Diseases & Insect Pests Image Classification</p>
      </footer>
    </div>
  </body>
</html>
