<!DOCTYPE html>
<html>
<head>
  <title>International Center for Biosaline Agriculture - Common Diseases & Insect Pests Image Classification</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/main-v19.css') }}"
  />
</head>
<body>
  <div class="container" role="main">
    <h1><a href="https://doctorxub.com/icba">ICBA</a></h1>
    <footer>
      <p><strong>International Center for Biosaline Agriculture</strong></p>
      <p>Common Diseases & Insect Pests Image Classification</p>
    </footer>
    <hr></hr>
    <h1>CTFC - coming soon</h1>
    <footer>
      <p><strong>Catalan Technologic Forest Center</strong></p>
      <p>Counting pinecones from UAVs</p>
    </footer>
  </div>
</body>
</html>
