<!doctype html>
<html>
<head>
  <title>Classify your Image!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/main.css') }}"
  />
</head>
<body>
  <div class="container" role="main">
    <h1>Product Name</h1>
    <form method=post enctype=multipart/form-data class="box">
      <div class="box__input">
        <label for="file" class="custom-label" id="inputLabel"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
        <input id="fileInput" type=file name=file>
        <input type=submit value="Upload & Classify">
      </div>
    </form>
    <footer>
      <p><strong>Footer goes here.</strong></p>
    </footer>
  </div>

  <script>
    'use strict';
    (function (document, window, index) {
      document.getElementById('fileInput').onchange = function () {
        var inputLabel = document.getElementById('inputLabel');
        inputLabel.innerHTML = 'Selected file: ' + this.value.replace(/.*[\/\\]/, '');
      };
    })(document, window, 0);
  </script>
</body>
</html>
