<!DOCTYPE html>
<html>
<head>
  <title>International Center for Biosaline Agriculture - Common Diseases & Insect Pests Image Classification</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/main-v22.css') }}"
  />
</head>
<body>
  <div class="container main_page" role="main">
    <div style="width: 250px;">
      <h1><a href="https://doctorxub.com/icba">ICBA</a> | <a href="https://doctorxub.com/icbafr">FR</a> | <a href="https://doctorxub.com/icbaar">AR</a></h1>
      <footer>
        <p><strong>Common Diseases & Insect Pests Image Classification</strong></p>
        <p>International Center for Biosaline Agriculture</p>
      </footer>
    </div>
    <div style="width: 30px;"></div>
    <div style="width: 250px;">
      <h1><a href="https://ctfc.doctorxub.com">CTFC</a></h1>
      <footer>
        <p><strong>Count pinecones from UAV images</strong></p>
        <p>Catalan Technologic Forest Center</p>
      </footer>
    </div>
  </div>
</body>
</html>
