<h1>Privacy Policy of doctorxub.com</h1>

<p>This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service, the doctorxub website or DoctorX Nabat mobile app.</p>

<p>If you choose to use our Service, then you agree to the collection and use of information in relation with this policy. The Personal Information that we collect are used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy. Our Privacy Policy was created with the help of the <a href="https://www.privacypolicytemplate.net/">Privacy Policy Template Generator</a>.</p>

<h2>Information Collection and Use</h2>

<p>We do NOT require you to provide us with personally identifiable information.</p>

<h2>Log Data</h2>

<p>We want to inform you that whenever you visit our Service or install our mobile application, anonymous information is collected that your browser or mobile app sends to the our server on Google Cloud or to the Android App store. This data is called Log Data - it may include information such as your computer’s Internet Protocol ("IP") address, browser version, OS version, visited pages, the time and date of the visit, the time spent on those pages, and other statistics.</p>

<h2>Cookies</h2>

<p>doctorxub.com does not use Cookies.</p>

<h2>Images Upload</h2>

<p>Our service stores images you upload temporarily so we can process them and display the results to you. However we cannot guarantee that they are always deleted successfully from the server. We do not share your uploaded images with 3rd parties.</p>

<h2>Service Providers</h2>

<p>We use Google Cloud Platform to host our server and Google Android app store to host the mobile app. This helps us:</p>

<ul>
    <li>To facilitate our Service;</li>
    <li>To provide the Service on our behalf;</li>
    <li>To perform Service-related services; or</li>
    <li>To assist us in analyzing how our Service is used.</li>
</ul>

<p>We want to inform our Service users that these third parties might have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</p>

<h2>Security</h2>

<p>We do NOT store Personal Information.</p>

<h2>Links to Other Sites</h2>

<p>Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>

<h2>Changes to This Privacy Policy</h2>

<p>We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.</p>

<h2>Contact Us</h2>

<p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>