body {
  font-family: Roboto, sans-serif;
  color: #0f3c4b;
  background-color: #e5edf1;
  padding: 0 1.25rem;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.container h1 {
  font-size: 42px;
  font-weight: 300;
  color: #0f3c4b;
  margin-bottom: 0;
}

.container footer {
  color: #92b0b3;
  margin-top: 30px;
}
.container footer a:hover,
.container footer a:focus {
  color: #85cbd6;
}

.uploadSVG {
  width: 120px;
  height: 120px;
}

.information {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
}

.information_sub {
  display: flex;
  flex-wrap: wrap;
}
.sub_one {
  text-align: center;
}
.sub_two {
  text-align: left;
}

.information_sub div {
  padding: 10px;
}

.photo,
.hosts,
.symptoms,
.control {
  width: 300px;
}

.coltitle {
  margin: 0;
  text-align: center;
  padding-top: 10px 0 10px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h4 {
  margin-right: 10px;
  margin-left: 10px;
}

input[type='file'] {
  background-color: #85cbd6;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-top: 5px;
  opacity: 0;
  padding: 150px 0;
}

input[type='submit'] {
  background-color: #217d8b;
  color: white;
  border: none;
  padding: 20px 50px;
  width: fit-content;
  font-weight: bold;
  margin: 5px auto;
  border-radius: 8px;
  cursor: pointer;
}

.custom-label {
  position: absolute;
  background-color: #85cbd6;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 100px 0;
  max-height: 125px;
  width: 100%;
  left: 0;
}

.box__input {
  display: flex;
  flex-direction: column;
}

ul {
  margin-top: 0;
}
