body {
  font-family: Roboto, sans-serif;
  color: #0f3c4b;
  background-color: #e5edf1;
  padding: 0 1.25rem;
}

.container {
  width: 650px;
  text-align: center;
  margin: 0 auto;
}

.container h1 {
  font-size: 42px;
  font-weight: 300;
  color: #0f3c4b;
  margin-bottom: 30px;
}

.container footer {
  color: #92b0b3;
  margin-top: 30px;
}
.container footer a:hover,
.container footer a:focus {
  color: #85cbd6;
}

.uploadSVG {
  width: 120px;
  height: 120px;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='file'] {
  background-color: #85cbd6;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 5px;
}

input[type='file'] {
  opacity: 0;
  padding: 100px 0;
}

input[type='submit'] {
  background-color: #217d8b;
  font-weight: bold;
}

.custom-label {
  position: absolute;
  background-color: #85cbd6;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 100px 0;
  border-radius: 10px;
  width: 650px;
}

.box__input {
  display: flex;
  flex-direction: column;
}
