<!DOCTYPE html>
<html>
  <head>
    <title>Diseases</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/main-v20.css') }}"
    />
  </head>
  <body>
    <div class="container" role="main">
      <h1>List of supported Diseases</h1>
      {% for prediction in predictions %}
      <div class="information">
        <div class="information_sub sub_one">
          <div class="photo">
            <h1>{{ prediction.title }}</h1>
            <ul class="ultitle">
              <li>{{ prediction.disease }}</li>
              <li>{{ prediction.type }}</li>
              <li>{{ prediction.sci }}</li>
            </ul>
          </div>
          <div class="hosts">
            <div class="coltitle hoststitle">Hosts</div>
            <div class="colcontent hostscontent">{{ prediction.hosts }}</div>
          </div>
        </div>
        <div class="information_sub sub_two">
          <div class="symptoms">
            <div class="coltitle symptomstitle">Symptoms</div>
            <div class="colcontent symptomscontent">
              {{ prediction.symptoms|safe }}
            </div>
          </div>
          <div class="control">
            <div class="coltitle controltitle">Control</div>
            <div class="colcontent controlcontent">
              {{ prediction.control|safe }}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="goback">
        <a href="../icba"> Upload New Image </a>
      </div>
      <footer>
        <p><strong>International Center for Biosaline Agriculture</strong></p>
        <p>Common Diseases & Insect Pests Image Classification</p>
      </footer>
    </div>
  </body>
</html>
